<div class="container pt-5">
    <div class="row align-content-center align-items-center">
        <div class="col-lg-6">
            <div class="about-img h-100 text-center text-lg-start pt-2 m-0 d-flex flex-column position-relative">
                <img decoding="async" src="../../assets/of-1.jpg" class="object-fit-cover home-about" alt="image" style="width: 85%;">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-content mt-5 mt-lg-0">
                <h2>Our Founder</h2>
                <p class="mb-30">With an aim to provide quality and featured education to the children in rural areas from marginalized communities, Dr. Manjunath Reddy chose a remote village in Kolar District to give wings to his desire. Varidhi Public School, situated in J. Agrahara village in Mulbagal taluk in Kolar district caters mainly to students from economically backward families. The school has acquired a good reputation in a very short time</p>
                <p class="mb-30">Learning and knowledge are the pillars of modern civilization. Without proper learning one cannot expect to become a successful individual. At the same time learning must also encompass the basics and fundamentals of the culture and ethos of the land. </p>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <p>Without this connection, learning may become a meandering exercise. Keeping this in mind Dr. Manjunatha Reddy has established a school in this remote border area. The focus at the Varidhi Public School is on quality teaching and keeping children rooted to their customs and culture. Here there is a perfect blend of both modern and traditional teaching methods which has become quite popular among the local people who express admiration for the efforts of Manjunath Reddy. Education is undoubtedly the greatest asset for today's generation of youngsters, and we are here to support them in whichever way possible. Apart from academic learning, we provide equal importance to sports as well, ensuring that all our students enrich themselves with physical education to develop their fitness skills, says Reddy.</p>
            <p>In 2017, Dr. Manjunatha Reddy started working on renaming the old private school in Mallanayakanahalli into his dream school. When the pre-primary school was first started, there were 11 students. Within a couple of years, the school gained immense popularity and the number of students increased considerably. The school, which started from the pre-primary level, gradually started primary and upper primary classes and became closer to the learning minds. The number of students crossed 100 in the higher primary level itself. Today there are nearly 160 students studying from pre primary to 8th standard.</p>
        </div>
    </div>
</div>
