<app-scroll-bar></app-scroll-bar>

<div class="container pt-3">
    <div class="row">
        <div class="col">
            <h2>Admissions</h2>
        </div>
        <p class="py-3">Varidhi International School offer a 360-degree educational experience where academic excellence is just one facet of our commitment. Varidhi places a strong emphasis on nurturing students from an early age to instill the courage to take calculated risks, go the extra mile, and ultimately become outstanding professionals in their chosen fields</p>
        <div class="list-items">
            <span class="list-title">At Varidhi, your child will get:</span>
            <ul>
                <li>Age-appropriate educational programmes to match each child's developmental stage</li>
                <li>Integrated curriculum</li>
                <li>Detailed microschedules for effective exam preparation</li>
                <li>Personalised study plans</li>
                <li>Adoption Calling Programme with dedicated mentors</li>
                <li>Mental wellness support through the Programme</li>
                <li>Emphasis on soft skill development and effective communication</li>
                <li>Comprehensive personality growth</li>
                <li>World-class sports curriculum through the nSports programme</li>
                <li>Cutting-edge technology: the nConnect app and the nLearn platform for seamless communication and academic support</li>
            </ul>
        </div>
        <p>Varidhi International School is unwaveringly committed to enhancing the way education is delivered, driven by profound dedication and passion. This commitment and enthusiasm underpin our school's vision to empower students through guidance, care, and education, with the ultimate goal of shaping them into future global leaders. Varidhi International School is the perfect launch pad for your child’s journey to excellence. Secure their admission to Varidhi International today and prepare them for a brighter future.</p>
    </div>
    <button class="btn btn-primary" (click)="openAdmissionForm()">Admission Form</button>
</div>



