<app-scroll-bar></app-scroll-bar>
<div class="container mt-3">
    <div class="row align-items-center">
        <div class="contact-info col-12 col-md-4 ">
            <ul>
                <li class="d-flex mb-2 align-items-center">
                    <div class="icon-container" style="background-color: #F26522;">
                        <mat-icon>phone_in_talk</mat-icon>
                    </div>
                    <span>+91 9035 595831</span>
                </li>
                <hr>
                <li class="d-flex mb-2 align-items-center">
                    <div class="icon-container" style="background-color: #88b520;;">
                        <mat-icon>mail</mat-icon>
                    </div>
                    <span>varidhi.vect@gmail.com</span>
                </li>
                <hr>
                <li class="d-flex mb-2 align-items-center">
                    <div class="icon-container" style="background-color: #f4a21a;">
                        <mat-icon>home_pin</mat-icon>
                    </div>
                    <span>Varidhi International School Varidhi Garden, NH237, J Agrahara Mallanayakanahalli Mulbagal taluk Kolar District-563136</span>
                </li>
                <hr>
            </ul>
        </div>
        <div class="container pb-3 col-12 col-md-8" >
            <form [formGroup]="fromInputs" (ngSubmit)="submitContactInfo()">
                <div class="admission-form shadow-lg p-3 bg-body rounded">
                    <h2 >Get in Touch</h2>
                    <h3>Your email address will not be published</h3>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Parent Name</mat-label>
                        <input matInput placeholder="Enter Parent Name" required type="text" formControlName="parentName" >
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Email Id</mat-label>
                        <input type="email" matInput required placeholder="Enter your emai" formControlName="emailId">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Phone No</mat-label>
                        <input matInput required placeholder="Enter Phone Number" type="tel" pattern="[0-9]{10}" formControlName="phoneNo">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Message</mat-label>
                        <textarea matInput placeholder="Please tell us something about the kid" formControlName="message"></textarea>
                    </mat-form-field>
                    <div class="submit-button" >
                        <button class="btn btn-secondary" style="background-color: #26015e; border-radius: 1rem; width: 25%;" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
