.scroll-container {
    overflow: hidden;
    width: 100%; /* Adjust width as needed */
  }
  
  .image-wrapper {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: scrollAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 300s;
  }

  @keyframes scrollAnimation {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}