
  .mission-single-item {
    padding: 52px 56px;
    border-radius: 25px;
    transition: transform 0.2s ease;
}
.mission-single-item:hover{
    transform: scale(1.05);
}

.shape.shape-4 {
    position: absolute;
    top: 13px;
    right: 25px;
    animation: off-on 10s infinite linear;
}

.transition-y {
    transition: all ease 0.5s;
}

.section-title {
    max-width: 636px;
    margin: -4px auto 55px;
    text-align: center;
}
.features-single-item {
    max-width: 365px;
}

.features-single-item i {
    width: 120px;
    height: 120px;
    line-height: 140px;
    font-size: 70px;
    border-radius: 40px;
    margin-bottom: 22px !important;
    display: inline-block;
}
.shape.shape-2 {
    position: relative;
    top: -100px;
    left: 950px;
    animation: moveBounce 6s infinite linear;
}

.shape.shape-1 {
    position: relative;
    top: -217px;
    left: 21px;
    animation: moveBounce 9s infinite linear;
}

@keyframes off-on {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveBounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}