<div class="container-fluid p-0 m-0">
    <div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/banner-bg-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block style-two  text-center m-auto ">
                    <span class="top-title" style="color: #E6AA00;">At Varidhi International School </span>
                    <h1 class="title" style="font-size: 43px;">
                        Where Eduaction Meets Imagination </h1>
                    <p>Unlock Futures, Nurturing Minds @ Varidhi International School.</p>
                    <div class="banner-btn">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/banner-bg-2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block style-two  text-center m-auto ">
                    <span class="top-title" style="color: #E6AA00;">At Varidhi International School </span>
                    <h1 class="title" style="font-size: 43px;">
                        Where Excellence Meets Compassion </h1>
                    <p>Fostering Lifelong Learners in a Supportive Community. A Global Hub for Academic Excellence and
                        Innovation.</p>
                    <div class="banner-btn">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/banner-bg-3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block style-two  text-center m-auto ">
                    <span class="top-title" style="color: #E6AA00;">At Varidhi International School </span>
                    <h1 class="title" style="font-size: 43px;">
                        Cultivating the inbound qualities of leaders through excellence in Eduaction</h1>
                    <p>Nurturing the leaders of tomorrow through Eduaction Excellence</p>
                    <div class="banner-btn">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="p-5 position-relative z-1">
        <div class="container">
            <div class="row align-content-center align-items-start">
                <div class="col-lg-6">
                    <div class="about-img h-100 text-center text-lg-start pt-2 m-0 d-flex flex-column position-relative">
                        <img decoding="async" src="../../assets/about.png" class="object-fit-cover home-about" alt="image" style="width: 85%;">
                        <div class="d-none d-lg-block">
                            <img decoding="async" src="../../assets/shape-3.png" class="pt-2 shape shape-3 position-relative" alt="shape">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-5 mt-lg-0">
                        <span class="top-title" style="color: #5DA357;">ABOUT US</span>
                        <h2>Varidhi International School
                        </h2>
                        <p class="mb-30">Varidhi International School is a top-tier group of schools covering the three
                            major
                            curricula - CBSE, ICSE, and State Board. With a rich history of providing world-class
                            education, a
                            Varidhi International school might just be what your child needs to develop into a leader of
                            tomorrow.</p>
                        <p class="mb-30">Varidhi International School strives to offer education of the highest quality
                            to help
                            students become the best versions of themselves. We hope to see our students become
                            productive. </p>
                        <ul class="ps-0 list-unstyled">
                            <li class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fa-solid fa-circle-check" style="color: #E6AA00; font-size: 25px;"></i>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h4>Why Varidhi International School?</h4>
                                    <p>When it comes to your child’s future, one of the most important decisions you can
                                        make is
                                        to decide which school to send them to. The choice of school can make a big
                                        difference
                                        in your child’s life. In this regard, we invite your child to one of our
                                        schools. With a
                                        rich legacy of providing quality education that spans over 6 years, covering
                                        programs in
                                        CBSE, ICSE, and State Board. With meticulously selected teachers and wide range
                                        of
                                        extracurricular activities for students to take part in, you can’t go wrong with
                                        Varidhi
                                        International School.</p>
                                </div>
                            </li>
                        </ul>
                        <a routerLink="/about-school" class="btn btn-primary" >
                            MORE ABOUT US <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-content-center justify-content-between" style="padding-bottom: 115px; padding-top: 140px ;">
                <div class="col-lg-4 col-md-6">
                    <div class="mission-single-item mb-4 position-relative z-1  transition-y" style="background-color: #eeffc7;">
                        <i class="fa-solid fa-chalkboard-user" style="color: #E6AA00;"></i>
                        <h3>Our Vission</h3>
                        <p>To offer the best quality education to every student with an aim to achieve academic excellence and all -round personality development by tapping their hidden talents. </p>
                        <a routerLink="/about-school" class="read-more">
                        Learn More <i class="fa-solid fa-arrow-right-long" style="color: #5DA357;"></i>
                        </a>
                        <img decoding="async" src="../../assets/shape-4.png" class="shape shape-4 time-12 d-none d-lg-block" alt="shape">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mission-single-item mb-4 position-relative z-1 bg-eeffc7 transition-y" style="background-color: #FFF2EC;">
                        <i class="fa-solid fa-graduation-cap" style="color: #E6AA00;"></i>
                        <h3>Our Mission</h3>
                        <p>To achieve the vision with the planned strategies and ongoing action plan with the rigorous, tireless and continuous efforts of sustenance to reach the goal conceived in the vision.</p>
                        <a routerLink="/about-school" class="read-more">
                        Learn More <i class="fa-solid fa-arrow-right-long" style="color: #F26522;"></i>
                        </a>
                        <img decoding="async" src="../../assets/shape-4.png" class="shape shape-4 time-12 d-none d-lg-block" alt="shape">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mission-single-item mb-4 position-relative z-1 bg-ffeac8 transition-y" style="background-color: #ffeac8;">
                        <i class="fa-solid fa-school" style="color: #E6AA00;"></i>
                        <h3>Our Founder</h3>
                        <p>With an aim to provide quality and featured education to the children in rural areas from marginalized communities, Dr. Manjunath Reddy chose a remote village in Kolar District  </p>
                        <a routerLink="/our-founder" class="read-more">
                        Learn More <i class="fa-solid fa-arrow-right-long" style="color: #F4A21A;"></i>
                        </a>
                        <img decoding="async" src="../../assets/shape-4.png" class="shape shape-4 time-12 d-none d-lg-block" alt="shape">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-title ">
                <h2 class="title">
                Core Values &amp; Beliefs </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="features-single-item text-center m-auto mb-4">
                    <i class="fa-solid fa-circle-check bg-primary text-white text-center m-auto"></i>
                    <h3>Integrity&amp; Morality</h3>
                    <p>To contribute students as best citizens equipped with loyalty, dignity, honesty and other values that build the best character</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="features-single-item text-center m-auto mb-4">
                    <i class="fa-solid fa-circle-check bg-warning text-white text-center m-auto"></i>
                    <h3>Self-discipline</h3>
                    <p>To inculcate self-respect, a sense of responsibility, the right attitude and obedience.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="features-single-item text-center m-auto mb-4">
                    <i class="fa-solid fa-circle-check bg-secondary text-white text-center m-auto"></i>
                    <h3>Service To Humanity</h3>
                    <p>To tap the diverse portfolio of talent pool in our students and transform relevant skills into resources for contribution to the society and humanity.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="features-single-item text-center m-auto mb-4">
                    <i class="fa-solid fa-circle-check bg-secondary text-white text-center m-auto"></i>
                    <h3>Excellence</h3>
                    <p>To achieve academic excellence with the best quality education for every student alongside delivering healthy minds with all-round personalities for excellence in all walks of life.</p>
                    </div>
                </div>
            </div>
            <img decoding="async" src="../../assets/shape-1.png" class="shape shape-1 d-lg-block d-md-none" alt="shape1">
            <img decoding="async" src="../../assets/shape-2.png" class="shape shape-2 d-sm-none d-md-block" alt="shape2">
        </div>
        <div class="container position-relative ptb-100">
            <div class="section-title">
                <span class="top-title">Activities</span>
                <h2 class="title">
                Social Activities </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                <div class="courses-single-item card rounded-0 border-0 transition-y mb-4">
                <a href="#" class="d-block"><img decoding="async" class="courses-img w-100" src="../../assets/course-4.png" alt="History Adventures"></a>
                <p>Makkala Mane Beti (Children’s House visit programmed by Teachers)</p>
                </div>
                </div>
                <div class="col-xl-4 col-md-6">
                <div class="courses-single-item card rounded-0 border-0 transition-y mb-4">
                <a href="#" class="d-block"><img decoding="async" class="courses-img w-100" src="../../assets/course-5.png" alt="Art and Creativity Workshops"></a>
                <p>Varidhi vathsalya program. (Introduction of tradition and culture of our agriculture, folk arts and Education system)</p>
                </div>
                </div>
                <div class="col-xl-4 col-md-6">
                <div class="courses-single-item card rounded-0 border-0 transition-y mb-4">
                <a href="#" class="d-block"><img decoding="async" class="courses-img w-100" src="../../assets/course-6.png" alt="Music and Rhythm Classes"></a>
                <p>Vichaara vantharondige varidhi maathukathe.(Discussions with Intellectuals, Media and Academics about the education system and curriculum)</p>
                </div>
                </div>
                <div class="col-lg-12 text-center mt-4">
                <a href="social-activities.html" class="btn btn-primary">
                VIEW ALL ACTIVITIES <i class="fa-solid fa-arrow-right-long"></i>
                </a>
                </div>
            </div>
        </div>
        <div class="container position-relative pt-5">
            <div class="bg-img">
                <img src="../../assets/learning-3.jpg" alt="" class="w-100">
                <div class="content" data-cues="slideInUp" data-disabled="true">
                    <h2>Why Support Varidhi International School</h2>
                    <a routerLink="/" class="btn btn-primary" data-cue="slideInUp" data-show="true" (click)="scrollToTop()">
                        Learn More <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row">
            <div class="col-lg-12 col-md-12">
            <div class="d-lg-flex align-items-center mb-60">
            <div class="section-title left-title mb-3 mb-lg-0">
            <span class="top-title">Gallery</span>
            <h2>Photos and videos</h2>
            </div>
            <a routerLink="/gallery" class="read-more">
            View All Photos and videos <i class="fa-solid fa-arrow-right-long"></i>
            </a>
            </div>
            <div class="row">
            <div class="col-lg-3 col-sm-6">
            <div class="product-single-item transition-y">
            <a class="d-block shop-img">
            <img fetchpriority="high" src="../../assets/gallery-1.jpg" class="attachment-escada_standard_card size-escada_standard_card wp-post-image w-100" alt="" decoding="async"> </a>
            </div> </div>
            <div class="col-lg-3 col-sm-6">
            <div class="product-single-item transition-y">
            <a class="d-block shop-img">
            <img src="../../assets/gallery-2.jpg" class="attachment-escada_standard_card size-escada_standard_card wp-post-image w-100" alt="" decoding="async"> </a>
            </div> </div>
            <div class="col-lg-3 col-sm-6">
            <div class="product-single-item transition-y">
            <a class="d-block shop-img">
            <img src="../../assets/gallery-3.jpg" class="attachment-escada_standard_card size-escada_standard_card wp-post-image w-100" alt="" decoding="async"> </a>
            </div> </div>
            <div class="col-lg-3 col-sm-6">
            <div class="product-single-item transition-y">
            <a class="d-block shop-img">
            <img src="../../assets/gallery-4.jpg" class="attachment-escada_standard_card size-escada_standard_card wp-post-image w-100" alt="" decoding="async"> </a>
            </div> </div>
            </div> </div> 
            </div>
            </div>
    </div>
</div>